
#emotions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#emotions > div > img{
    height: 150px;
    width: 90px;
    margin-right: 50px;
    margin-left: 50px;
}

.emotions-text{
    text-align: center;
}

.emotions-text > p{
    font-size: 18px;
    transform: scaleY(0.9); 
    transform-origin: top center;

    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}




/* - - - - - - - - - - - - - - - АДАПТИВНОСТЬ - - - - - - - - - - - - - - -  */




@media (max-width: 960px) {

    #emotions > div > img{
        height: 110px;
        width: 65px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .emotions-text > p{
        font-size: 16px;
    }

}


@media (max-width: 830px) {

    #emotions > div > img{
        height: 100px;
        width: 50px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .emotions-text > p{
        font-size: 14px;
    }

}