#traces{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-right: 25px;
    margin-left: 25px;
    /* padding-top: -400px; */
    margin-top: 200px;
}

.traces-img{
    
    max-height: 215px;
    max-width: 49vw;
}

#first-trace-img{
    /* margin-left: 25px; */
}

#second-trace-img{
    /* position: absolute; */
    right: 300px;
}

